.Field {
  display: inline-block;
  width: 100%;

  .label {
    display: inline-block;
    margin-bottom: 2px;
  }

  .error-box {
    height: 18px;
  }

  .error {
    font-size: 12px;
    color: red;
  }

  .asterisk {
    &:after {
      content: '*';
      color: red;
    }
  }
}
